.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.line {
    fill: none;
}

.startline {
    stroke: none;
    fill: red;
    stroke-width: 1px;
}
.endline {
    stroke: none;
    fill: blue;
    stroke-width: 1px;
}
.targetline {
    stroke: none;
    fill: lime;
    stroke-width: 1px;
}
p {
    text-align:left;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 10px;
}
h1 {
    text-align:center;
    margin-top: 20px;
}
svg {
    margin-left: 150px;
    margin-right: 150px;
}
.selectordiv {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.dot {
    stroke: black;
}

.start {
    fill: red;
}

.end {
    fill: blue;
}

.target {
    fill: lime;
}